@page "/user"
@inject IHttpClientFactory HttpClientFactory
@attribute [StreamRendering]

<PageTitle>User</PageTitle>

@if (_user == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">@_user.Name</h5>
            <p class="card-text"><b>ID:</b> @_user.Id</p>
            <p class="card-text"><b>Address:</b> @_user.Address1</p>
            <p class="card-text"><b>City:</b> @_user.City</p>
            <p class="card-text"><b>Postal Code:</b> @_user.PostalCode</p>
            <p class="card-text"><b>Email:</b> @_user.EmailAddress</p>
            <p class="card-text"><b>Phone:</b> @_user.PhoneNumber</p>
        </div>
    </div>
}

@code {
    private Models.User? _user;

    protected override async Task OnInitializedAsync()
    {
        var client = HttpClientFactory.CreateClient("RemoteUserService");

        _user = await client.GetFromJsonAsync<Models.User>(
            "User/c9fcbc4b-d2d1-4664-9079-dae78a1de446");
    }
}